/* Estilos para a página homePage */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-image: url('../src/fit_1.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Estilos para o container */
.container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  padding: 10px;
  min-height: 100vh; /* Faz o container ocupar a altura total da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilos para os exercícios */
.list-group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.list-group-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 80%;
  margin-bottom: auto;
}

.list-group-item input[type="checkbox"] {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
}

/* Estilos para o footer */
footer {
  background-color: #010910;
  padding: 10px;
  color: white;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

/* Estilos para o gif */
.gif {
  width: 100px;
}

/* Estilos para o header */
header {
  background-color: #000911;
  color: hsl(0, 0%, 100%);
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 20px;
}

header p {
  font-size: 16px;
}

/* Estilos para o título */
h3 {
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Estilos para a série */
.serie {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1px;
  margin-bottom: 0;
}

.list-group {
  bottom: 70%;
  top: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* Estilos para o botão próximo dia */
.btn-primary {
  margin-top: 10px;
}

/* Estilos para o header */
footer {
  background-color: #010910;
  padding: 10px;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.mt {
  background: black;
  color: rgb(218, 234, 241);
  font-size: 13px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(239, 235, 235, 0.2), 0 4px 8px rgba(45, 99, 216, 0.1), 0 4px 8px rgba(86, 7, 82, 0.1);
}

